.logo{
    width: 100px;
    height: 100px;
}
.img{

    background-image: url("https://bit.ly/2oXrwEP");
    background-repeat: no-repeat;
    background-size: cover; 
    z-index: 0;
}
.button{
  text-align: center;
}
/*.jumbotron-fluid{
  height: 100vh;
  background: rgba(0,0,0,0.5);
  z-index: 1;
  color: white;
}*/
.pp-background{
	background: rgba(0,0,0,0.7);/* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgba(0,0,0,0.7), #605C3C, #3C3B3F); 
    background: linear-gradient(to right, rgba(0,0,0,0.7), #605C3C, #3C3B3F);
	padding: 10px;
  z-index: 1;
}
#spw{
	z-index: 2;
}
.size-selector{
	background: #BA8B02;
	padding: 10px;
	width: 50%;
}
#show-order{
  display: none;
}
